* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-darkblue: hsl(238, 29%, 16%);
  --color-softred: hsl(14, 88%, 65%);
  --color-background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  --color-verydarkgrayish: hsl(237, 12%, 33%);
  --color-darkgrayish: hsl(240, 6%, 50%);
  --color-lightgrayish: hsl(240, 5%, 91%);
}
html {
  font-size: 12px;
}
body {
  background: var(--color-background);
  /* font-size: 12px; */
  font-family: "Kumbh Sans", sans-serif;
  line-height: 1.5;
  min-height: 100vh;
}

main {
  display: grid;
  place-items: center;
  padding: 3rem 6rem;
}

.container {
  background-color: white;
  /* margin: 2rem auto 2rem auto; */
  display: flex;
  flex-direction: row;
  border-radius: 1rem;
  overflow: hidden;
  width: 70rem;
  height: 37rem;
  position: relative;
}

.illustration {
  width: 50%;
  position: relative;
}
.faq {
  width: 50%;
  padding: 4rem 8rem 4rem 0;
}

h1 {
  color: var(--color-darkblue);
  line-height: 2;
}
#pattern-desktop {
  position: absolute;
  top: -40%;
  left: -85%;
  width: 160%;
}
#woman-desktop {
  position: absolute;
  top: 15%;
  left: -15%;
  width: 90%;
}
#box-desktop {
  position: absolute;
  width: 11rem;
  top: 18rem;
  left: 6rem;
  z-index: 999;
}

.question-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  padding: 0.8rem 0 0.8rem 0;
  border-bottom: 1.5px solid var(--color-lightgrayish);
  cursor: pointer;
}

.question:hover {
  color: var(--color-softred);
}

.question {
  font-size: 1.2rem;
  line-height: 2;
  color: var(--color-verydarkgrayish);
}

.answer {
  font-size: 1rem;
  color: var(--color-darkgrayish);
}
.hidden {
  display: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.clicked {
  font-weight: 700;
  color: var(--color-darkblue);
}

.rotated {
  transform: rotate(180deg);
}

.narrowContainer {
  width: 30rem;
  height: 46rem;
  flex-direction: column;
  margin: 15rem auto 5rem auto;
  overflow: visible;
}

.narrowIllustration {
  width: 100%;
  height: 10rem;
}
.narrowFaq {
  width: 100%;
  padding: 3rem 2rem 3rem 2rem;
}

#woman-mobile {
  width: 70%;
  position: absolute;
  top: -100%;
  left: 15%;
}

#pattern-mobile {
  width: 70%;
  position: absolute;
  left: 15%;
}

.narrowH1 {
  text-align: center;
}

.narrowQuestionContainer {
  padding: 1.5rem 0 1.5rem 0;
}
